<marquee onmouseover="this.stop()" onmouseout="this.start()" scrollamount="2" style = "color:blue"  direction="right">DANH SACH USER FULLL</marquee>

<table border="1" style="width:50%">
 <thead>
  
   <tr>
       <th>id</th>
      <th><th>name</th></th>
      <th><th>email</th></th>
     <th>role_id</th>
      <th colspan="2"></th>
    </tr>
  </thead>

 <tbody>
   <% @user.each do |student| %>
     <tr>
      	<td><%= @id=student.id %></td>
    	<td><td><%= student.name %></td></td>
        <td><td><%= student.email %></td></td>
        <td><%= student.role_id %></td>

        <td><%= link_to 'edit', users_edit_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= submit_tag "add" %>

<%= will_paginate @user %>
