<marquee onmouseover="this.stop()" onmouseout="this.start()" scrollamount="2" style = "color:blue"  direction="right">DANH SACH USER FULLL</marquee>

<table border="1" style="width:50%">
 <thead>
  
   <tr>
       <th>id</th>
      <th><th>name</th></th>
      <th><th>email</th></th>
     <th>role</th>
      <th colspan="2"></th>
    </tr>
  </thead>

 <tbody>
   <% @user.each do |student| %>
     <tr>
      	<td><%= @id=student.id %></td>
    	<td><td><%=link_to student.name, user_posts_path(@id) %> </td></td>
        <td><td><%= student.email %></td></td>
        <td><%= Role.find_by_id(student.role_id).name %></td>

        <td><%= link_to 'edit', user_edit_path(student) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<%= will_paginate @user %>