
<%= form_for @post do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :desc %>
  </p>
  <p>
    <%= f.label :code %><br>
    <%= f.text_area :code %>
  </p>

<p> 
<%= fields_for (@category_post) do |ab|%>
<div class = "field">
<%=ab.label "ALL CATEGORY"%>
<%= collection_select(:object , :id, @all_category, :id, :name, {}, {:multiple => true})%>
</div>
<%end%>
</p>
<p>
    <%= f.submit %>
</p>
<% end %>

<%= link_to 'Back', posts_path %>