<h1>Post</h1>
 <p>
 <%= link_to 'NEW POST', new_post_path %>
 </p>
 <br>

<div id="articles">
<% for article in @posts %>
  <h2>
    <%= link_to h(article.title), article %>
  </h2>
  <div class="author" style="color: red">from <%=link_to User.find_by(id: article.user_id).name, user_posts_path(article.user_id) %> </div>
  <div class="desc"><%= simple_format(article.desc) %></div>
  <div class="content"><%= simple_format(article.code) %></div>
<% end %>
</div>

<%= will_paginate @posts %>