<style>
	table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    width: 100px;
}
</style>
<h1>Category</h1>
<table >
	<tr style="font-weight:bold;">
	<td>ID</td>
	<td>Name</td>
	<td></td>
	<td></td>
	</tr>
	<% @categories.each do |cte| %>
	<tr>
	
		<td style="width: 20px;"><%=cte.id%></td>
		<td><%=cte.name%></td>
		<td><%= link_to 'Detail',category_Detail_path(cte.id)  %></td>
		<td><%= link_to 'Edit', edit_category_path(cte.id) %></td>
        <td><%= link_to 'Delete', category_delete_path(cte.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
</table>
<%= will_paginate @categories %>
<%= form_tag categories_new_path do %>

<%= label_tag :name %>
<%= text_field_tag :name, params[:name] %>
<%= submit_tag "new", :class => "btn btn-primary" %>

<% end %>