<!DOCTYPE html>
<html>
<head>
  <title>Myblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
      <%= render 'layouts/header' %>
</header>
 <main>
 <div style="float: left ; width: 25%;">
      <%= render 'layouts/slideder' %>
 </div>
 <div style="float: left; width: 75%">
<%= yield %>
</div>
</main>
</body>
</html>
